biblioteca2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca2">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="genero">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="tipo" type="xs:string" />
                <xs:element maxOccurs="unbounded" name="libro">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="titulo" type="xs:string" />
                      <xs:element name="autor" type="xs:string" />
                      <xs:element name="fecha-publicación" type="xs:date" />
                      <xs:element name="editorial" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>